@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body{
    margin: 0;
    height: 100%;
}

.p0{
    padding: 0 !important;
}
.hAuto{
    height: auto !important;
}
.h64px{
    height: 64px !important;
}
.mr5{
    margin-right: 5px !important;
}
.ml15{
    margin-left: 15px !important;
}